---
    const {project} = Astro.props;
---
<div class="ml-10 relative flex w-full max-w-[48rem] flex-row rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="relative w-2/5 m-0 overflow-hidden text-gray-700 bg-white rounded-r-none shrink-0 rounded-xl bg-clip-border">
        <img
            src={project.frontmatter.image.url} 
            alt="image"
            class="object-cover w-full h-full"
        />
        </div>
        <div class="p-6">
        <h6 class="block mb-3 font-sans text-base antialiased font-semibold leading-relaxed tracking-normal text-pink-500">
            <a class="text-2xl" href={project.url}>{project.frontmatter.title}</a>
        </h6>
        <h4 class="block mb-2 text-gray-500 font-sans text-sm antialiased font-semibold leading-snug tracking-normal">
            {project.frontmatter.date}
        </h4>
        <p class="block mb-5 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
            {project.frontmatter.description}
        </p>
        <a class="inline-block" href="#">
            <a href={project.url}
            class="flex w-max items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-pink-500 uppercase align-middle transition-all rounded-lg select-none hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            >
            Más info
            <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>
            </a>
        </a>
    </div>
</div>